@import "tailwindcss";

@theme {
  --color-emerald-400: #34d399;
  --color-cyan-500: #06b6d4;
  --color-blue-600: #2563eb;
}

/* Add this to fix the multi-line gradient issue specifically */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

html {
  scroll-behavior: smooth;
}